@use '@/styles/base/tokens' as *;

.text {
  margin: 0;
  line-height: $line-height-base;
  color: $color-text-base;
}

/* =========================
   Highlight
   ========================= */

.highlight {
  background: linear-gradient(
    transparent 60%,
    rgba(37, 99, 235, 0.2) 60%
  );
  padding: 0 $space-1;
  border-radius: $radius-sm;
}

/* =========================
   Sizes
   ========================= */

.xs { font-size: $font-size-xs; }
.sm { font-size: $font-size-sm; }
.md { font-size: $font-size-md; }
.lg { font-size: $font-size-lg; }
.xl { font-size: $font-size-xl; }

/* =========================
   Weights
   ========================= */

.light   { font-weight: $font-weight-light; }
.regular { font-weight: $font-weight-regular; }
.medium  { font-weight: $font-weight-medium; }
.bold    { font-weight: $font-weight-bold; }

/* =========================
   Colors
   ========================= */

.base    { color: $color-white; }
.muted   { color: $color-text-muted; }
.inverse { color: $color-text-inverse; }
.primary { color: $color-text; }
.danger  { color: $color-primary; }

/* =========================
   Align
   ========================= */

.align-left   { text-align: left; }
.align-center { text-align: center; }
.align-right  { text-align: right; }
