---
import styles from './Toast.module.scss'
---

<div 
  class={styles.toast}
  x-data="{
    get classes() {
      return {
        [styles['toast--show']]: $store.toast.show,
        [styles['toast--success']]: $store.toast.type === 'success',
        [styles['toast--error']]: $store.toast.type === 'error',
        [styles['toast--info']]: $store.toast.type === 'info'
      }
    }
  }"
  :class="classes"
  x-show="$store.toast?.show"
  x-transition.opacity
  x-cloak
>
  <div class={styles['toast__content']}>
    <span
      class={styles['toast__message']}
      x-text="$store.toast?.message"
    ></span>

    <button
      class={styles['toast__close']}
      @click="$store.toast?.close()"
      aria-label="Fechar"
    >
      ✕
    </button>
  </div>
</div>
