<div
  class="toast"
   x-data="{
    get classes() {
      return {
        'toast--show': $store.toast.show,
        'toast--success': $store.toast.type === 'success',
        'toast--error': $store.toast.type === 'error',
        'toast--info': $store.toast.type === 'info'
      }
    }
  }"
  :class="classes"
  x-show="$store.toast?.show"
  x-transition.opacity
  x-cloak
>
  <div class="toast__content">
    <span
      class="toast__message"
      x-text="$store.toast?.message"
    ></span>

    <button
      class="toast__close"
      @click="$store.toast?.close()"
      aria-label="Fechar"
    >
      ✕
    </button>
  </div>
</div>
