/* =========================
   Container widths
   (Bootstrap-inspired)
   ========================= */

$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;

/* =========================
   Container paddings
   ========================= */

$container-padding-mobile: 1rem;
$container-padding-desktop: 1.5rem;
