---
import styles from './WhatsappFloat.module.scss'

export interface Props {
  phone: string
  side?: 'left' | 'right'
}

const {
  phone,
  side = 'right'
} = Astro.props

const whatsappUrl = `https://wa.me/${phone}`
---

<a
  href={whatsappUrl}
  class={[styles.whatsappFloat, styles[`whatsappFloat--${side}`]].join(' ')}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Falar no WhatsApp"
>
  <span
    class={["iconify", styles.whatsappFloat__icon].join(" ")}
    data-icon="ph:whatsapp-logo-fill"
  ></span>
</a>
