---
import styles from './Grid.module.scss'

export interface Props {
  gap?: string
}

const { gap = '1.5rem' } = Astro.props
---

<div class={styles.grid} style={`--grid-gap: ${gap}`}>
  <slot />
</div>
